body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999F;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.dev {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud-bottom {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile {
  background-color: white;
}

.jelena {
  height: 300px;
  width: 300px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer-link {
  color: #11999F;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.abacus {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.blackboard {
  width: 25%;
  position: relative;
  left: 35%;
}

.myButton {
  box-shadow: 0 1px 10px 0 #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 -1px 44px #5b6178;
}

.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
